body		{background-color: rgb(29,30,32);
			 color: rgb(190,190,190);}
header 		{text-align: center;}
h1			{color: white;}
h3			{color: white;
			 text-align: center;}
.split 		{height: 100%;
			 width: 50%;
			 position: fixed;
			 z-index: 1;
			 top: 0;
			 overflow-x: hidden;
			 padding-top: 20px;}
.left		{left: 0;}
.right		{right: 0;}
h5			{text-align: center;
			 color: rgb(100,173,143);}
p			{font-size: 15px;
			 padding-right: 5%;}
ul 			{list-style: upper-roman;}
hr			{margin-right: 5%;}